<!-- Showing all the posts -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All posts</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Quora posts</h1>

    <% for(let i=0;i<posts.length;i++){ %>
        <div class="post">
            <h3 class="user">@<%= posts[i].username %></h3>
            <h4 class="content"><%= posts[i].content %></h4>
            <a href="http://localhost:4000/posts/<%=posts[i].id%>">View post</a>
            <a href="http://localhost:4000/posts/<%=posts[i].id%>/edit">Edit post</a>
            <br>
            <form method="post" action="/posts/<%= posts[i].id %>?_method=DELETE">
                <button>Delete post</button>
            </form>
        </div>
    <% } %>
    <br><br><br>
    <a href="http://localhost:4000/posts/new">Create new posts</a>
</body>
</html>